.card {
    padding: 30px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    flex: 1;
    background-color: var(--color-bg-primary);
}

.card__title {
    font-size: var(--font-xl);
    margin-bottom: 15px;
    color: var(--color-primary-500);
}

.card__desc {
    color: var(--color-text-secondary);
}