body {
    font-family: var(--font-main);
    color: var(--color-text-primary);
    background-color: var(--color-bg-secondary);
}

h1, h2, h3, h4 {
    font-family: var(--font-heading);
    line-height: 1.2;
    margin-bottom: var(--spacing-md);
}

p {
    margin-bottom: var(--spacing-md);
}